# dependencies
node_modules/

# env / secrets
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk files 
.DS_Store      # macOS
Thumbs.db      # Windows

# (for later) build/coverage
dist/
coverage/

/generated/prisma
